@import "../../styles/Main.scss";

.container-k-carousel {
  width: 1240px;
  max-height: 415px;
  margin: 0px auto 30px auto;
  position: relative;


  .k-sl-al {
    position: absolute;
    top: 156.7px;
    left: 0px;
    background-color: black;
  }
  .k-sl-ar {
    position: absolute;
    top: 156.7px;
    right: 0px;
    background-color: black;
  }
  .k-sl-slide {
    object-fit: cover;
    width: 100%;
    max-height: 415px;
  }
}
