@import "../../styles/Main.scss";

.container-collapse {
  max-width: 62.77%;
  margin: 0px auto 0px auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container-collapse {
    max-width: 80%;
    gap: 20px;
  }
}
@media screen and (max-width: 767px) {
  .container-collapse {
    max-width: 100%;
    margin: 0 19px 19px 19px;
    gap: 20px;
  }
}
