@import "../../styles/Main.scss";

.rating-star {
  display: flex;
  flex-direction: row;
  gap: 10px;
  .star {
    height: 24px;
  }
}

@media screen and (max-width: 767px) {
  .rating-star {
    gap: 4px;
    .star {
      height: 12px;
    }
  }
}
