@import "./Main.scss";

.container-k-b {
  max-width: 74%;
  margin: 50px auto 43px auto;
  max-height: 223px;
  border-radius: 25px;
  position: relative;

  .k-b-img {
    object-fit: cover;
    max-height: 223px;
    width: 100%;
    border-radius: 25px;
    border: none;
    filter: brightness(0.7);
  }
  .k-b-title {
    margin: 0%;
    position: absolute;
    color: $white        ;
    font-size: 48px;
    font-weight: 500;
    top: 36.85%;
    left: 28.85%;
  }
}
