@import "./Main.scss";

.container-collapse {
  width: 1023px;
  align-items: center;
  margin: 0px auto 0px auto;
  .collapse-title-arrow {
    position: relative;
    .collapse-title {
      background-color: $main-color;
      color: $white;
      padding: 10px 15px;
      border-radius: 5px;
    }
    .collapse-arrow {
      position: absolute;
      top:7px;
      right:15px;
    }
  }
  .collapse-content {
    .k-col-group {
      padding: 13px 20px 19px 20px;
      background-color: $second-color;
      border-radius: 10px 10px 5px 5px;
      overflow: hidden;
      transition: height 200ms;
      &-content {
        color: #ff6060;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
      }
    }
  }
}
