@import "./Main.scss";


.k-nav {
  margin: 45px auto 50px auto;
  max-width: 74%;
  @include flex-dir-row ();
  justify-content: space-between;
  &-link {
    display: flex;
    align-items: flex-start;
    gap: 57px;
    font-size: 24px;
    font-weight: 500;
    a {
        text-decoration: none;
        color: $main-color;
    }
    .active{
      text-decoration: underline;
      color: $main-color;
    }
  }
}
