body {
  margin: 0;
  font-size: 1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat',
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Montserrat',
    monospace;
}
