body {
  font-size: 1em;
  font-style: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Montserrat";
}
* {
  padding: 0;
  margin: 0;
}
/*colors*/
$main-color: #ff6060;
$second-color: #f6f6f6;
$white: #ffffff;
$black: #000000;

li {
  list-style-type: none;
}

@mixin flex-dir-row() {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin flex-dir-col() {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin arrow-position() {
  position: absolute;
  top: 7px;
  right: 15px;
}
